name: Build & Tests

on:
  push:
  pull_request:

jobs:
  test-macos:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4

      - name: Select Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '16.1'

      - name: Show Swift version
        run: swift --version

      - name: Build and run tests
        run: swift test -v
